<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedah Edukasi</title>
    <link rel="icon" href="./favicon.png">
    <!-- Line To Css -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!-- Header -->
    <header id="bar-nav">
        <!-- Nav -->
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo" ><img id="logo" src="./logo/Logo Bedu v2.png" alt="Logo Bedu"></a>
            <!-- Drawer Btn -->
            <nav id="drawer" class="nav">
            <ul class="nav-list" id="navigationDrawer">
                <li><a href="#" class="nav-btn" id="nav-btn">Home</a></li>
                <li><a href="./editor.html" class="nav-btn" id="nav-btn2">Create Blog</a></li>
            </ul>
            <button class="hamburger" id="hamburgerButton">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            </nav>
        </div>
        </div>
    </header>
    <main id="mainContent">
   
        <p class="artikel-space">Update</p>
    <!-- Posts -->
    <section class="post container">
        <!-- Post Box 1-->
        <div class="post-box">
            <img src="./img/img1.jpg" alt="" class="post-img">
            <h2 class="category">Pendidikan</h2>
            <a href="./post-page.html" class="post-title">
                Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik
            </a>
            <span class="post-date">29 Mei 2023</span>
            <p class="post-description">orem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
        </div>
                <!-- Post Box 1-->
                <div class="post-box">
                    <img src="./img/img1.jpg" alt="" class="post-img">
                    <h2 class="category">Pendidikan</h2>
                    <a href="" class="post-title">
                        Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik
                    </a>
                    <span class="post-date">29 Mei 2023</span>
                    <p class="post-description">orem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                        facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                        asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                        nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                        vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
                </div>
                        <!-- Post Box 1-->
        <div class="post-box">
            <img src="./img/img1.jpg" alt="" class="post-img">
            <h2 class="category">Pendidikan</h2>
            <a href="" class="post-title">
                Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik
            </a>
            <span class="post-date">29 Mei 2023</span>
            <p class="post-description">orem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
        </div>
                <!-- Post Box 1-->
        <div class="post-box">
            <img src="./img/img1.jpg" alt="" class="post-img">
            <h2 class="category">Pendidikan</h2>
            <a href="" class="post-title">
                Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik
            </a>
            <span class="post-date">29 Mei 2023</span>
            <p class="post-description">orem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
        </div>
                <!-- Post Box 1-->
                <div class="post-box">
                    <img src="./img/img1.jpg" alt="" class="post-img">
                    <h2 class="category">Pendidikan</h2>
                    <a href="" class="post-title">
                        Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik
                    </a>
                    <span class="post-date">29 Mei 2023</span>
                    <p class="post-description">orem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                        facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                        asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                        nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                        vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
                </div>
                        <!-- Post Box 1-->
                        <div class="post-box">
                            <img src="./img/img1.jpg" alt="" class="post-img">
                            <h2 class="category">Pendidikan</h2>
                            <a href="" class="post-title">
                                Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik
                            </a>
                            <span class="post-date">29 Mei 2023</span>
                            <p class="post-description">orem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
                                facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
                                asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
                                nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
                                vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
                        </div>
    </section>
    </main>
<!-- Footer -->
<div class="footer container">
    <p>&#169; Bedah Edukasi All Right Reserved</p>
    <div class="social">
        <a href=""><i class='bx bxl-linkedin' ></i></a>
        <a href=""><i class='bx bxl-github' ></i></a>
        <a href=""><i class='bx bxl-instagram' ></i></a>
        <a href=""><i class='bx bxl-facebook' ></i></a>
    </div>
</div>



    <!-- Link To Js -->
    <script src="../main.js"></script>
</body>
</html>