<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedah Edukasi</title>
    <!-- Line To Css -->
    <link rel="stylesheet" href="../styles/style.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!-- Header -->
    <header>
        <!-- Nav -->
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo"><img src="../public/logo/Logo Bedu v2.png" alt="Logo Bedu"></a>
            <!-- About Btn -->
            <div class="nav__position">
            <a href="#" class="nav__btn">Favorite</a>
            <a href="#" class="nav__btn">About</a>
            <a href="#" class="nav__btn">Social</a>
            </div>
        </div>
        </div>
    </header>
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Title -->
            <h1 class="header-title">Perbandingan Kualitas Pendidikan di Indonesia dengan Negara yang Kualitas Pendidikannya Lebih Baik</h1>
            <!-- Post Image -->
            <img src="../public/img/img1.jpg" alt="" class="header-img">
        </div>
    </section>
    <!-- Posts -->
    <section class="post-content post-container">
        <h2 class="sub-heading">Perbandingan Kualitas Pendidikan di Indonesia</h2>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident illo hic quos soluta, placeat beatae perspiciatis dolorem, odio quibusdam, similique assumenda mollitia doloribus tenetur molestias voluptates autem. Natus placeat beatae temporibus dignissimos eaque quaerat vel necessitatibus possimus excepturi cupiditate ipsa animi, officia recusandae? Asperiores.</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident illo hic quos soluta, placeat beatae perspiciatis dolorem, odio quibusdam, similique assumenda mollitia doloribus tenetur molestias voluptates autem. Natus placeat beatae temporibus dignissimos eaque quaerat vel necessitatibus possimus excepturi cupiditate ipsa animi, officia recusandae? Asperiores.</p>
        <h2 class="sub-heading">Perbandingan Kualitas Pendidikan di Indonesia</h2>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident illo hic quos soluta, placeat beatae perspiciatis dolorem, odio quibusdam, similique assumenda mollitia doloribus tenetur molestias voluptates autem. Natus placeat beatae temporibus dignissimos eaque quaerat vel necessitatibus possimus excepturi cupiditate ipsa animi, officia recusandae? Asperiores.</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident illo hic quos soluta, placeat beatae perspiciatis dolorem, odio quibusdam, similique assumenda mollitia doloribus tenetur molestias voluptates autem. Natus placeat beatae temporibus dignissimos eaque quaerat vel necessitatibus possimus excepturi cupiditate ipsa animi, officia recusandae? Asperiores.</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident illo hic quos soluta, placeat beatae perspiciatis dolorem, odio quibusdam, similique assumenda mollitia doloribus tenetur molestias voluptates autem. Natus placeat beatae temporibus dignissimos eaque quaerat vel necessitatibus possimus excepturi cupiditate ipsa animi, officia recusandae? Asperiores.</p>

    </section>
    <!-- Share -->
    <div class="share post-container">
        <span class="share-title">Share this article</span>
        <div class="social">
            <a href="#"><i class='bx bxl-instagram' ></i></a>
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-tiktok' ></i></a>
        </div>
    </div>
<!-- Footer -->
<div class="footer container">
    <p>&#169; Bedah Edukasi All Right Reserved</p>
    <div class="social">
        <a href=""><i class='bx bxl-linkedin' ></i></a>
        <a href=""><i class='bx bxl-github' ></i></a>
        <a href=""><i class='bx bxl-instagram' ></i></a>
        <a href=""><i class='bx bxl-facebook' ></i></a>
    </div>
</div>



    <!-- Link To Js -->
    <script src="../main.js"></script>
</body>
</html>